#cal {
    display: grid;
    height: 400px;
    width: 400px;
    border-style: 1px solid;
    background-color: #F4F6F6;
}
#inn {
    height: 50px;
    grid-column: span 4;
}
body {
    display: flex;
    padding-top: 10%;
    justify-content: center;
    background-color: #85929E ;
}
p{
    font-weight: 700;
    border: 1px solid ;
    background-color: darkcyan;
    text-align: center;
    font-size: 20px;
}
p:hover{
    background-color: burlywood;
}
